# Node
node_modules/
npm-debug.log*
.env

# Backend
backend/node_modules/
backend/.env
backend/dist/
backend/logs/
backend/*.log

# Frontend
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/build/
frontend/.vite/

# Sistema
.DS_Store
Thumbs.db

# Editor y entorno
.vscode/
.idea/

# Git
.git
